<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rueda de la Vida</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Iyer Smith Torres Jaramillo y Juan Sebastian Quiceno Cano</h1>
    <h2>¿Qué es la Rueda de la Vida?</h2>
    <p>La Rueda de la Vida es una herramienta que permite evaluar el equilibrio entre distintas áreas importantes como salud, trabajo, relaciones y desarrollo personal.</p>
    
    <h2>Propósito de la Encuesta</h2>
    <p>Esta encuesta te ayudará a visualizar qué áreas de tu vida necesitan más atención y cómo puedes mejorar tu bienestar.</p>

    <a href="{{ url_for('Persona') }}">Ir a la Encuesta</a>
</body>
</html>
