<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos del CSV</title>
    <style>
        table { width: 50%; margin: auto; border-collapse: collapse; }
        th, td { border: 1px solid black; padding: 8px; text-align: center; }
        th { background-color: #007bff; color: white; }
    </style>
</head>
<body>
    <h1 style="text-align: center;">Datos del CSV</h1>
    <table>
        <thead>
            <tr>
                {% for columna in encabezado %}
                    <th>{{ columna }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for fila in datos %}
            <tr>
                {% for valor in fila %}
                    <td>{{ valor }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <img src="{{ url_for('static', filename='uploads/balance.png') }}" alt="Balance de la vida">
    <a href="{{ url_for('Persona') }}">Ir a la Encuesta</a>
</body>
</html>
